<!DOCTYPE html>
<html lang="en">
<header>
    <meta charset="UTF-8">
    <title>LAB</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>
        .center {
            margin: 0 auto;
            float: none;
        }
    </style>
</header>

<body>
    <div class='container'>
        <div class="row justify-content-center align-items-center">
            <div class="col"></div>
            <div class="col ">
                <center>
                    <H1>狼人殺主持人替代系統</H1>
                </center>
            </div>
            <div class="col"></div>

        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col"></div>
            <div id="app" class="col ">
                <center>
                    <H2>選項</H2>
                    <div v-show="stage==1">
                        <div class="form-check"><input class="form-check-input" type="radio" name="Mode"
                                id="flexRadioDefault1"><label class="form-check-label"
                                for="flexRadioDefault1">主持人模式</label></div>
                        <div class="form-check"><input class="form-check-input" type="radio" name="Mode"
                                id="flexRadioDefault2" checked><label class="form-check-label"
                                for="flexRadioDefault2">輔助模式</label></div>
                    </div>
                    <div v-show="stage==2">
                        <h3>請選擇參與者</h3>
                        <button @click="IFRandom()">隨機</button>
                        <div>
                            <select class="form-select" @change="PlayerNChange" v-show="PlayerRandom"
                                aria-label="Default select example">
                                <option selected disabled value=''>請選擇遊玩人數</option>
                                <option v-for="item in PlayerNS" :value="item.value">{{item.text}}人</option>
                            </select>
                        </div>
                        <div v-for="Player in Players">
                            <input type="checkbox" @change="PlayerNM" :value="Player.ID" :key="PlayerV[Player.ID]"
                                v-model="PlayerV">{{Player.NickName}}
                        </div>
                    </div>
                    <div v-show="stage==3">
                        <h3>調整參與者</h3>
                        <div v-for="Player in PlayerV">
                            <input type="text" :id="Player" @change="PlayerChange" :value="Players[Player].NickName">
                            {{Players.ID}}
                        </div>
                    </div>
                    <div v-show="stage==4">
                        <h3>選擇特殊身分類型</h3>
                        <p style="font-weight:bold;">神職(需選擇數量{{GodNChange}}):</p>
                        <div v-for="Identity in GodIdentityType">
                            <input type="checkbox" :id="Identity" @change="GodNM" :value="Identity.Name"
                                v-model="GodV">{{Identity.Name}}
                        </div>
                        <br>
                        <p style="font-weight:bold;">特殊狼人:</p>
                        <div v-for="Identity in WolfIdentityType">
                            <input type="checkbox" :id="Identity" :value="Identity.Name"
                                v-model="WolfV">{{Identity.Name}}
                        </div>

                    </div>
                    <div></div>
                    <br>
                    <!-- <button id="Next">下一步</button> -->
                    <button @click="ClickAS(-1)" v-show="stage>1">上一步</button>
                    <button @click="ClickAS(1)">下一步</button>
                </center>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.9/vue.js'></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous">
    </script>
    <script>
        $(function () {

            // $("#Next").bind("click", function () {
            //     vm.stage+=1
            // })
            // $("#PlayerN").bind("change",function()
            // {
            //     let PlayerN=$("#PlayerN").val()
            // })
        });
        let vm = new Vue({
            el: app,
            data: {
                stage: 1,
                type: 'A',
                PlayerN: 6,
                PlayerNL: 6,
                PlayerNF: 12,
                PlayerRandom: false,
                PlayerV: [],
                GodV: [],
                WolfV: [],
                AllV: [],
                PlayerNS: [{
                        value: 6,
                        text: "六",
                    },
                    {
                        value: 7,
                        text: "七",
                    },
                    {
                        value: 8,
                        text: "八",
                    },
                    {
                        value: 9,
                        text: "九",
                    },
                    {
                        value: 10,
                        text: "十",
                    },
                    {
                        value: 11,
                        text: "十一",
                    },
                    {
                        value: 12,
                        text: "十二",
                    },
                ],
                BodyGroup: {
                    God: 0,
                    General: 0,
                    Bad: 0,
                },
                Players: [{
                        ID: 0,
                        NickName: '鈴鈴',
                        Mode:'',
                        Identity:'',
                    },
                    {
                        ID: 1,
                        NickName: '黑人',
                        Mode:'',
                        Identity:'',
                    },
                    {
                        ID: 2,
                        NickName: '猴子',
                        Mode:'',
                        Identity:'',
                    },
                    {
                        ID: 3,
                        NickName: '龍井亂彈阿翔',
                        Mode:'',
                        Identity:'',
                    },
                    {
                        ID: 4,
                        NickName: '鶴',
                        Mode:'',
                        Identity:'',
                    },
                    {
                        ID: 5,
                        NickName: '烏日金城',
                        Mode:'',
                        Identity:'',
                    },
                    {
                        ID: 6,
                        NickName: '啾啾',
                        Mode:'',
                        Identity:'',
                    },
                    {
                        ID: 7,
                        NickName: '小I',
                        Mode:'',
                        Identity:'',
                    },
                    {
                        ID: 8,
                        NickName: '香菇',
                        Mode:'',
                        Identity:'',
                    },
                    {
                        ID: 9,
                        NickName: '海線謝欣穎',
                        Mode:'',
                        Identity:'',
                    },
                    {
                        ID: 10,
                        NickName: '龍井小流氓',
                        Mode:'',
                        Identity:'',
                    },
                    {
                        ID: 11,
                        NickName: '北屯Elon Musk',
                        Mode:'',
                        Identity:'',
                    },
                    {
                        ID: 12,
                        NickName: 'Mark',
                        Mode:'',
                        Identity:'',
                    },
                ],
                GodIdentityType: [{
                        Name: "預言家(Prophet)",
                    },
                    {
                        Name: "女巫(Witch)",
                    },
                    {
                        Name: "獵人(Hunter)",
                    },
                    {
                        Name: "守衛(Guard)",
                    },
                    {
                        Name: "騎士(knight)",
                    },

                ],
                WolfIdentityType: [{
                        Name: "狼王(WolfKing)",
                    },
                    {
                        Name: "雪狼(SnowWolf)",
                    },
                ],
            },
            computed: {
                GodNChange: function () {
                    return this.BodyGroup.God-this.GodV.length
                }
            },
            methods: {
                ClickAS(a) {
                    let temp = this.stage + a
                    if (temp < 1) {
                        this.stage = 1
                    }
                    this.stage = temp
                    if (this.stage == 3 && this.PlayerV.length < 6) {
                        this.stage = 2
                        alert("至少需要6人")
                    }
                    if (this.stage == 5 && this.GodNChange!=0){
                        this.stage = 4
                        alert("尚未選擇足夠的神職")
                    }
                    else if(this.stage == 5 && this.GodNChange==0){
                        this.BodyGive()
                    }
                },
                PlayerNChange(event) {
                    this.PlayerN = event.target.value * 1
                    let Players = this.Players
                    // console.log(Players)
                    // let who=this.RandomPlayer(Players, this.PlayerN)
                    let TempArr = []
                    for (var i = 0; i < this.Players.length; i++) {
                        TempArr.push(this.Players[i].ID)
                    }
                    // let who = this.RandomPlayer()
                    let who = this.Random(TempArr,this.PlayerN)
                    // console.log(who)
                    this.PlayerV = []
                    for (var v = 0; v < who.length; v++) {
                        this.PlayerV.push(who[v])
                    }

                    this.BodyGroupChange()
                    this.GameType()
                    // console.log(this.PlayerV)                              
                },
                IFRandom() {
                    // console.log(this.PlayerRandom)                    
                    this.PlayerRandom = !this.PlayerRandom;
                },
                PlayerChange(event) {
                    this.Players[event.target.id].NickName = event.target.value
                },
                RandomPlayer() {
                    // console.log(typeof( arr))
                    let arr = this.Players
                    let num = this.PlayerN
                    var TempArr = []
                    for (var i = 0; i < arr.length; i++) {
                        TempArr.push(arr[i].ID)
                    }
                    // arr.forEach(element => {TempArr.push(element)});
                    // console.log(typeof( TempArr))
                    // console.log( TempArr)
                    var newArr = [];
                    for (var i = 0; i < num; i++) {
                        let index = Math.floor(Math.random() * TempArr.length);
                        newArr.push(TempArr[index])
                        TempArr.splice(index, 1);
                        // console.log( TempArr)
                    }
                    // console.log( newArr)
                    return newArr;
                },
                Random(arr,num){
                    let newArr = [];
                    for (var i = 0; i < num; i++) {
                        let index = Math.floor(Math.random() * arr.length);
                        newArr.push(arr[index])
                        arr.splice(index, 1);
                        // console.log( TempArr)
                    }
                    // console.log( newArr)
                    return newArr;
                },
                PlayerNM(event) {
                    if (this.PlayerV.length > 12) {
                        //console.log( event.target.checked)
                        event.target.checked = false;
                        this.PlayerV.pop()
                        alert("不能再多了")
                    }
                    this.BodyGroupChange()
                    this.GameType()
                },
                BodyGroupChange() {
                    let PN = this.PlayerV.length
                    let f = PN % 3
                    // console.log( f)
                    let basics = (PN - f) / 3
                    this.BodyGroup.God = basics
                    this.BodyGroup.General = basics
                    this.BodyGroup.Bad = basics
                    if (f == 1) {
                        this.BodyGroup.General = this.BodyGroup.General + 1
                    }
                    if (f == 2) {
                        this.BodyGroup.General = this.BodyGroup.General + 1
                        this.BodyGroup.God = this.BodyGroup.God + 1
                    }
                    // console.log( this.BodyGroup)
                },
                GodNM(event){
                    // console.log( this.GodNChange)
                    if (this.GodNChange<0) {
                        // console.log( event.target.checked)
                        event.target.checked = false;
                        // console.log( event.target.checked)
                        this.GodV.pop()
                        alert("不能再選了")
                    }
                    
                },
                BodyGive(){
                    let GeneralV=[]
                    for (let i = 0; i < this.BodyGroup.General; i++) {
                        GeneralV.push("平民(General)")
                    }
                    let LeftWolfV=[]
                    for (let i = 0; i < this.BodyGroup.Bad-this.WolfV.length; i++) {
                        LeftWolfV.push("狼人(Werewolf)")
                    }
                    // GeneralV.fill("平民(General)",0,this.BodyGroup.General)
                    // console.log( GeneralV)
                    AllV=this.AllV
                    AllV=[...this.GodV,...this.WolfV,...GeneralV,...LeftWolfV]
                    // console.log( this.AllV)
                    let NAllV=this.Random(AllV,AllV.length)
                    // console.log( NAllV)
                    for(let i = 0; i < this.PlayerV.length; i++){
                        this.Players[this.PlayerV[i]].Identity=NAllV[i]
                    }
                    
                },
                GameType(){
                    Players=this.Players
                    for (var v = 0; v < Players.length; v++){
                    if(this.PlayerV.indexOf(Players[v].ID)>0){
                        // console.log(this.PlayerV.indexOf(Players[v].ID))
                        this.Players[v].Mode="遊戲中"
                        // console.log(this.Players[v])
                    }}
                },
            },
        })
    </script>
</body>

</html>